@font-face {
  font-family: junctionFont;
  src: url('./assets/fonts/Junction-regular.otf');
}

@font-face {
  font-family: spaceMono;
  src: url('./assets/fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: spaceMonoBold;
  src: url('./assets/fonts/SpaceMono-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
  font-family: spaceMono;
}

